@media (max-width: 480px) {
    .fw-bold {
        color: rgb(90, 143, 105);
        font-size: 15px !important;
    }

    .login-text1 {
        font-size: 15px !important;
    }
}


@media (max-width: 576px) {
    .fw-bold {
        color: rgb(90, 143, 105);
        font-size: 14px !important;
    }

}


@media (min-width: 577px) and (max-width: 768px) {

    .fw-bold {
        color: rgb(90, 143, 105);
        font-size: 17px !important;
    }

}