<!-- <div class="d-flex justify-content-center align-items-center vh-100"> -->
<div
  class="min-h-screen bg-[url('https://readdy.ai/api/search-image?query=soft%20and%20elegant%20pattern%20of%20delicate%20ayurvedic%20herbs%20and%20leaves%20in%20very%20light%20sage%20green%20color%20on%20white%20background%2C%20minimal%20and%20modern%20design%2C%20subtle%20botanical%20illustration%2C%20professional%20and%20sophisticated&width=1920&height=1080&seq=1&orientation=landscape')] bg-cover bg-fixed d-flex justify-content-center align-items-center vh-100"
>
  <!-- <div class="card shadow-lg rounded-4" style="max-width: 450px; width: 100%"> -->
  <div
    class="auth-card frosted-glass shadow-sm p-4 rounded-3 bg-white/90 backdrop-blur-sm rounded-lg shadow-lg p-8 relative overflow-hidden mx-4"
    style="max-width: 450px; width: 358px"
  >
    <div class="card-body p-1">
      <!-- Forgot Password Form -->
      <div *ngIf="!showOtp && !otpVerified">
        <!-- <h3 class="text-center" style="font-weight: bold; color: #007bff">
          Forgot Password?
        </h3>
        <label class="text-center mb-4">No worries, we'll send you reset instructions.</label> -->

        <div
          class="d-flex align-items-center justify-content-center mb-3"
          style="gap: 12px"
        >
          <img
            src="assets/img/logo1.png"
            alt="Logo"
            class="img-fluid"
            style="height: 60px; width: 60px; min-width: 45px; margin-top: 8px"
          />
          <div
            class="d-flex flex-column justify-content-center"
            style="margin-left: -10px !important"
          >
            <div
              class="fw-bold"
              style="
                font-size: 22px;
                color: rgb(90, 143, 105);
                text-align: left;
                line-height: 1.5;
                cursor: pointer;
              "
            >
              Ojasvi Derma Care
            </div>
            <div
              class="subtext"
              style="
                font-family: 'Pacifico', sans-serif;
                color: #ffc200;
                line-height: 1;
                text-align: left;
              "
            >
              From Garden To Glow
            </div>
          </div>
        </div>
        <form>
          <!-- <div class="form-group mb-3">
            <label class="mb-2">User Name</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="user_name" autocomplete="off"
              placeholder="Enter User Name" maxlength="32" required maxlength="64" pattern="emailPattern" />
          </div> -->

          <div class="logo-header text-center">
            <h3
              class="login-text"
              style="
                margin-bottom: 10px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: rgb(90 143 105);
                text-align: center;
              "
            >
              Forgot password
            </h3>
          </div>

          <div class="form-group mb-3">
            <label
              *ngIf="mobileNumberorEmail"
              style="text-align: left; font-size: 13px"
              >{{
                inputType === "initial"
                  ? "Email or Mobile Number"
                  : inputType === "mobile"
                  ? "Mobile Number"
                  : "Email"
              }}</label
            >
            <div class="input-field">
              <div class="unique-country-selector-wrapper flex items-center">
                <!-- <div
                  *ngIf="inputType === 'mobile'"
                  class="unique-country-code-selector"
                  (click)="toggleCountryDropdown(); $event.stopPropagation()"
                >
                  <span>{{ selectedCountryCode }}</span>
                  <svg width="10" height="6" viewBox="0 0 10 6" fill="none">
                    <path d="M1 1L5 5L9 1" stroke="#666" stroke-width="1.5" />
                  </svg>
                  <div
                    class=""
                    *ngIf="showCountryDropdown && inputType === 'mobile'"
                  >
                    <div class="unique-country-dropdown">
                      <div class="unique-search-box">
                        <input
                          type="text"
                          placeholder="Search country..."
                          [(ngModel)]="searchQuery"
                          (input)="filterCountries($event)"
                          (click)="$event.stopPropagation()"
                          autocomplete="off"
                          #searchCountry="ngModel"
                          name="searchCountry"
                        />
                      </div>
                      <div class="unique-country-list">
                        <div
                          class="unique-country-item"
                          *ngFor="let country of filteredCountryCodes"
                          (click)="
                            selectCountry(country); $event.stopPropagation()
                          "
                        >
                          {{ country.label }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="country-selector-wrapper" #dropdownWrapper>
                  <div
                    *ngIf="inputType === 'mobile'"
                    class="unique-country-code-selector flex items-center cursor-pointer px-2 py-1 border"
                    (click)="toggleCountryDropdown(); $event.stopPropagation()"
                  >
                    <span>{{ selectedCountryCode }}</span>
                    <svg
                      width="10"
                      height="6"
                      viewBox="0 0 10 6"
                      fill="none"
                      class="ml-1"
                    >
                      <path d="M1 1L5 5L9 1" stroke="#666" stroke-width="1.5" />
                    </svg>
                    <div
                      class="unique-country-dropdown-container absolute"
                      *ngIf="showCountryDropdown && inputType === 'mobile'"
                      (click)="$event.stopPropagation()"
                    >
                      <div
                        class="unique-country-dropdown bg-white shadow rounded p-2 max-h-48 overflow-y-auto"
                      >
                        <div
                          class="unique-country-dropdown width: 100%; padding: 8px; border: 1px solid rgb(90, 143, 105); border-radius: 4px; font-size: 14px; mb-2"
                        >
                          <input
                            type="text"
                            placeholder="Search country"
                            [(ngModel)]="searchQuery"
                            (input)="filterCountries($event)"
                            (click)="$event.stopPropagation()"
                            autocomplete="off"
                            #searchCountry="ngModel"
                            name="searchCountry"
                            style="padding: 0px 7px"
                          />
                        </div>
                        <div class="unique-country-list">
                          <div
                            class="unique-country-item px-2 py-1 hover:bg-gray-100 cursor-pointer"
                            *ngFor="let country of filteredCountryCodes"
                            (click)="
                              selectCountry(country); $event.stopPropagation()
                            "
                          >
                            {{ country.label }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <input
                  [type]="inputType === 'email' ? 'email' : 'text'"
                  class="form-control small-placeholder input-sm"
                  [ngStyle]="{
                    'border-top-left-radius':
                      inputType === 'mobile' ? '0px' : '8px',
                    'border-bottom-left-radius':
                      inputType === 'mobile' ? '0px' : '8px',
                    'border-top-right-radius': '8px',
                    'border-bottom-right-radius': '8px'
                  }"
                  placeholder="{{ getPlaceholder() }}"
                  [(ngModel)]="mobileNumberorEmail"
                  name="identifier"
                  #identifier="ngModel"
                  (input)="onIdentifierInput($event)"
                  [pattern]="
                    inputType === 'mobile'
                      ? commonFunction.mobpattern
                      : inputType === 'email'
                      ? emailPattern
                      : ''
                  "
                  [maxlength]="inputType === 'mobile' ? 10 : 128"
                  [minlength]="inputType === 'mobile' ? 10 : null"
                  (keypress)="
                    inputType === 'mobile'
                      ? commonFunction.onlynum($event)
                      : null
                  "
                  autocomplete="off"
                  required
                />
              </div>
              <!-- <div
                *ngIf="identifier.errors?.['required'] && (identifier.touched)"
                class="error-message"
              >
                Please enter
                {{
                  inputType === "email"
                    ? "your email address"
                    : inputType === "mobile"
                    ? "your mobile number"
                    : "email or mobile number"
                }}.
              </div> -->
              <div
                *ngIf="identifier.errors?.['pattern'] && (identifier.touched)"
                class="error-message"
              >
                Please enter a valid
                {{ inputType === "email" ? "email address" : "mobile number" }}.
              </div>
            </div>
          </div>

          <div class="form-group text-center">
            <button
              (click)="sendLink()"
              class="btn btn-primary w-100"
              style="
                background-color: rgb(90, 143, 105);
                z-index: unset;
                font-size: 13px !important;
                height: 32px;
                padding: 4px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              [disabled]="getLinkLoading || linkSent"
            >
              <!-- Spinner -->
              <span
                *ngIf="getLinkLoading"
                class="spinner-border spinner-border-sm me-2"
                role="status"
                aria-hidden="true"
              ></span>

              <!-- Button Text -->
              <span>{{
                getLinkLoading
                  ? "Sending LINK..."
                  : linkSent
                  ? "Link sent"
                  : "Send link"
              }}</span>
            </button>
          </div>

          <div
            (click)="onGotoLogin()"
            class="form-group text-center"
            style="margin-top: 10px; cursor: pointer"
          >
            <div class="back-label">
              <i class="bi bi-arrow-left"></i>
              <span class="label" style="font-size: 14px"> Back to log in</span>
            </div>
          </div>
        </form>
      </div>

      <!-- OTP Input Form -->
      <div *ngIf="showOtp">
        <h3 class="text-center" style="font-weight: bold; color: #007bff">
          Enter OTP
        </h3>
        <label class="text-center mb-4"
          >We have sent an OTP to your registered email.</label
        >

        <form>
          <div class="mb-3 mt-3" *ngIf="!otpVerified">
            <label class="mb-2">OTP</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="otp"
              name="emailOTP"
              autocomplete="off"
              placeholder="Enter OTP"
              [ngClass]="{ 'is-invalid': otp.length < 6 }"
              maxlength="6"
              (keypress)="commonFunctions.omit($event)"
              required
            />

            <small class="text-danger"
              >Remaining Time: {{ remainingTime }} sec(s)</small
            >
          </div>

          <button
            [disabled]="otp.length < 6"
            type="button"
            class="btn btn-primary w-100"
            (click)="onSubmitOtp()"
          >
            <span
              *ngIf="verifyLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            >
            </span>

            <span *ngIf="!verifyLoading" style="font-size: 13px">Verify</span>
          </button>

          <div class="mb-3 mt-3" *ngIf="remainingTime == 0 && !otpVerified">
            <button
              type="button"
              class="btn btn-primary w-100"
              (click)="sendLink()"
            >
              <span
                *ngIf="getLinkLoading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              >
              </span>

              <span *ngIf="!getLinkLoading" style="font-size: 13px"
                >Resend</span
              >
            </button>
          </div>
        </form>
        <div class="back-label" style="text-align: center">
          <span class="label mt-3"
            >Didn't receive the email?
            <a (click)="sendLink()" style="color: var(--primary-color)"
              >Click here</a
            ></span
          >
        </div>
        <div
          (click)="onGotoLogin()"
          class="form-group text-center"
          style="margin-top: 10px; cursor: pointer"
        >
          <div class="back-label">
            <i class="bi bi-arrow-left"></i>
            <span class="label"> Back to log in</span>
          </div>
        </div>
      </div>

      <!-- after otp verification -->
      <div *ngIf="otpVerified">
        <h3 class="text-center mb-4" style="font-weight: bold; color: #007bff">
          Reset Password
        </h3>

        <form>
          <div class="form-group mb-3 position-relative">
            <label class="mb-2">New password</label>

            <div class="input-group">
              <!-- Left Lock Icon -->
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input
                [type]="showNewPassword ? 'text' : 'password'"
                class="form-control"
                [(ngModel)]="newPassword"
                name="user_name"
                autocomplete="off"
                placeholder="Enter new password"
                maxlength="32"
                required
                #password="ngModel"
                [pattern]="passwordPattern"
                required
              />
              <!-- Right Show/Hide Toggle -->
              <div class="input-group-append">
                <span
                  class="input-group-text"
                  (click)="showNewPassword = !showNewPassword"
                  style="cursor: pointer"
                >
                  <i
                    [class]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                  ></i>
                </span>
              </div>
            </div>
            <small
              *ngIf="password.errors?.['required'] && password.touched"
              style="color: red"
              >Please enter password</small
            >
            <small
              *ngIf="password.errors?.['pattern'] && password.touched"
              style="color: red"
              >Please enter valid password</small
            >
          </div>
          <div class="form-group mb-3">
            <label class="mb-2">Confirm New password</label>
            <div class="input-group">
              <!-- Left Lock Icon -->
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control"
                [(ngModel)]="confirmPassword"
                name="user_name"
                autocomplete="off"
                placeholder="Enter confirm password"
                maxlength="32"
                required
                #confirmPass="ngModel"
                required
              />

              <!-- Right Show/Hide Toggle -->
              <div class="input-group-append">
                <span
                  class="input-group-text"
                  (click)="showConfirmPassword = !showConfirmPassword"
                  style="cursor: pointer"
                >
                  <i
                    [class]="
                      showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                    "
                  ></i>
                </span>
              </div>
            </div>
            <small
              *ngIf="confirmPass.errors?.['required'] && confirmPass.touched"
              style="color: red"
              >Please confirm enter password</small
            >
          </div>

          <div class="form-group text-center">
            <button (click)="resetPassword()" class="btn btn-primary w-100">
              Reset
              <span
                *ngIf="Loading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              >
              </span>
              <span *ngIf="!Loading" style="font-size: 13px"> </span>
            </button>
          </div>
        </form>

        <div class="form-group mt-2">
          <h5>Password Guidelines:</h5>
          <ul style="font-size: 12px">
            <li>
              Your new password must be between 8 and 12 characters in length.
            </li>
            <li>Must contain at least one uppercase letter (A-Z)</li>
            <li>Must contain at least one lowercase letter (a-z)</li>
            <li>Must include at least one number (0-9)</li>
            <li>
              Must have at least one special character (e.g., @, #, $, %, &)
            </li>
            <li>
              <span style="font-weight: bold">E.g. Password:</span> Pass@123
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
