<!-- <app-header ></app-header> -->

<section
  style="
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif !important;
  "
  class="hero-bg relative min-h-96 flex items-center justify-center"
>
  <div class="absolute inset-0 bg-opacity-70"></div>
  <div class="relative z-10 text-center max-w-4xl mx-auto px-4">
    <div
      class="flex items-center justify-center mb-4"
      style="margin-bottom: 4px !important"
    >
      <div class="w-12 h-12 flex items-center justify-center text-white">
        <i class="ri-leaf-line text-2xl"></i>
      </div>
    </div>
    <h1
      class="text-4xl md:text-5xl font-['Playfair_Display'] font-semibold text-white mb-6"
      style="
        font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Helvetica, Arial, sans-serif !important;
      "
    >
      Contact Us
    </h1>
    <!-- <p class="text-white" style="font-size: 13px;">Stay Connected with Ojasvi Derma Care</p>
    <p class="text-white leading-relaxed max-w-5xl mx-auto">
      At Ojasvi DermaCare, every product is crafted with love, intention, and
      the timeless wisdom of nature. We believe in the power of Ayurvedic
      traditions to nurture and heal your skin naturally.
    </p>
    <p class="text-white leading-relaxed max-w-5xl mx-auto">
      Join our community to stay updated on exclusive promotions, new product launches, and
      holistic wellness insights. Subscribe to our mailing list and be the first to experience the
      latest in Ayurvedic-inspired skin and hair care.
    </p>
    <p class="text-white"  style="font-size: 13px;">Nourish your inbox with the essence of Ojasvi.</p> -->
  </div>
</section>

<Section
  style="
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif !important;
  "
  class="py-4 bg-white justify-center"
>
  <!-- <h2 class="text-4xl font-['Playfair_Display'] text-center font-semibold text-gray-800 mb-8">
    Contact Us
  </h2> -->
  <p
    style="
      font-size: 16px;
      color: green;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 20px;
      font-weight: 600;
    "
    class="text-center"
  >
    Stay Connected with Ojasvi Derma Care
  </p>
  <p
    class="leading-relaxed max-w-5xl mx-auto text-center"
    style="padding-left: 1rem; padding-right: 1rem"
  >
    At Ojasvi DermaCare, every product is crafted with love, intention, and the
    timeless wisdom of nature. We believe in the power of Ayurvedic traditions
    to nurture and heal your skin naturally.
  </p>
  <p
    class="leading-relaxed max-w-5xl mx-auto text-center"
    style="padding-left: 1rem; padding-right: 1rem"
  >
    Join our community to stay updated on exclusive promotions, new product
    launches, and holistic wellness insights. Subscribe to our mailing list and
    be the first to experience the latest in Ayurvedic-inspired skin and hair
    care.
  </p>
  <p
    style="
      font-size: 15px;
      color: green;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: 6px;
      font-weight: 600;
    "
    class="text-center"
  >
    Nourish your inbox with the essence of Ojasvi.
  </p>
</Section>

<section
  style="
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif !important;
  "
  class="py-4 bg-white"
  style="padding-top: 0.5rem"
>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-start">
      <!-- Contact Info -->
      <div>
        <h2
          class="text-2xl sm:text-3xl font-semibold text-gray-800 mb-3 sm:mb-8"
          style="
            font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
              Roboto, Helvetica, Arial, sans-serif !important;
          "
        >
          Get in Touch
        </h2>
        <p
          class="text-gray-600 mb-6 sm:mb-8 leading-relaxed text-sm sm:text-base text-justify"
          style="
            font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
              Roboto, Helvetica, Arial, sans-serif !important;
          "
        >
          We would love to hear from you. Whether you have questions about our
          products, need skincare advice, or want to share your experience with
          Ojasvi DermaCare, we are here to help.
        </p>

        <!-- Email -->
        <div
          class="bg-white shadow-sm rounded-xl p-2.5 sm:p-5 mb-6 border border-gray-100"
        >
          <div class="flex items-start space-x-4">
            <div
              class="w-10 h-10 sm:w-12 sm:h-12 bg-[#5a8f69] bg-opacity-10 rounded-full flex items-center justify-center"
            >
              <i class="ri-mail-line text-[#5a8f69] text-lg sm:text-xl"></i>
            </div>
            <div>
              <h3 class="font-medium text-gray-800 mb-1">Email Us</h3>
              <a
                href="mailto:ojasvidermacare@gmail.com"
                class="text-[#5a8f69] hover:text-[#5a8f69]/80 text-sm transition-colors"
              >
                ojasvidermacare&#64;gmail.com
              </a>
            </div>
          </div>
        </div>

        <!-- Business Hours -->
        <div
          class="bg-white shadow-sm rounded-xl p-2.5 sm:p-5 border border-gray-100"
          style="
            font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
              Roboto, Helvetica, Arial, sans-serif !important;
          "
        >
          <h3 class="font-medium text-gray-800 mb-2">Business Hours (PDT)</h3>
          <div class="space-y-1 text-sm sm:text-base">
            <div class="flex items-center justify-between">
              <span class="text-gray-600">Monday - Friday</span>
              <span class="text-gray-800">9:00 AM - 6:00 PM </span>
            </div>
            <div class="flex items-center justify-between">
              <span class="text-gray-600">Saturday</span>
              <span class="text-gray-800">10:00 AM - 4:00 PM</span>
            </div>
            <div class="flex items-center justify-between">
              <span class="text-gray-600">Sunday</span>
              <span class="text-gray-800">Closed</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact Form -->
      <div
        class="bg-white rounded-lg shadow-sm p-2.5 sm:p-5 border border-gray-100"
      >
        <h2
          class="text-2xl sm:text-3xl font-semibold text-gray-800 mb-4"
          style="
            font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
              Roboto, Helvetica, Arial, sans-serif !important;
          "
        >
          Send us a Message
        </h2>
        <form
          #contactForm="ngForm"
          (ngSubmit)="onSubmit(contactForm)"
          class="space-y-2"
        >
          <input
            type="text"
            name="fullName"
            placeholder="e.g. John Doe"
            class="w-full px-3 py-2 border border-gray-200 rounded focus:outline-none focus:border-[#5a8f69] text-sm"
            [(ngModel)]="contactData.NAME"
            required
            (keypress)="alphaOnly($event)"
          />

          <input
            type="email"
            name="email"
            placeholder="e.g xyz@gmail.com"
            class="w-full px-3 py-2 border border-gray-200 rounded focus:outline-none focus:border-[#5a8f69] text-sm"
            [(ngModel)]="contactData.EMAIL_ID"
            required
            pattern="commonFunction.emailpattern"
          />

          <input
            type="tel"
            name="mobile"
            placeholder="e.g (555) 123-4567"
            class="w-full px-3 py-2 border border-gray-200 rounded focus:outline-none focus:border-[#5a8f69] text-sm"
            [(ngModel)]="contactData.MOBILE_NO"
            required
            minlength="10"
            maxlength="10"
            [pattern]="commonFunction.internationalmobpattern"
          />

          <input
            type="text"
            name="subject"
            placeholder="Enter Subject"
            class="w-full px-3 py-2 border border-gray-200 rounded focus:outline-none focus:border-[#5a8f69] text-sm"
            [(ngModel)]="contactData.SUBJECT"
            required
          />

          <textarea
            name="message"
            placeholder="Enter Message"
            rows="3"
            class="w-full px-3 py-2 border border-gray-200 rounded focus:outline-none focus:border-[#5a8f69] text-sm"
            [(ngModel)]="contactData.MESSAGE"
            required
          ></textarea>

          <!-- <button
            type="submit"
            class="w-full bg-[#5a8f69] text-white py-3 rounded-button hover:bg-opacity-90 transition-colors"
          >
            Send Message
          </button> -->
          <button
            type="submit"
            class="w-full bg-[#5a8f69] text-white py-2 rounded-button hover:bg-opacity-90 transition-colors flex justify-center items-center"
            [disabled]="isSpinning"
          >
            <!-- Loader -->
            <span
              *ngIf="isSpinning"
              class="spinner-border spinner-border-sm me-2 mr-2"
              role="status"
              aria-hidden="true"
            ></span>

            <!-- Button text -->
            {{ isSpinning ? "Sending..." : "Send Message" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Disclaimer  -->
<Section
  style="
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif !important;
  "
  class="py-2 bg-white justify-center"
>
  <h2
    class="text-4xl text-center font-semibold text-gray-800 mb-2 px-20"
    style="
      font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif !important;
    "
  >
    Disclaimer
  </h2>
  <p
    class="text-gray-600 mb-2 px-20 leading-relaxed"
    style="
      text-align: justify;
      font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif !important;
    "
  >
    Please be advised that the products for sale on Ojasvi Dermacare' website
    are not intended to diagnose, cure, mitigate, prevent or treat any disease
    or health condition and they are not to be considered a Medical Device.
  </p>
  <p
    class="text-gray-600 mb-2 px-20 leading-relaxed"
    style="
      text-align: justify;
      font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif !important;
    "
  >
    Ojasvi Dermacare, LLC. products have not been evaluated by the Food & Drug
    Administration. Test each product on a small portion of skin before usage.
    By purchasing our products you recognize and accept the fact that some
    natural ingredients, essential oils in particular, may still cause
    sensitivity in susceptible individuals and that Ojasvi Dermacare will not be
    held responsible for such occurrences. You as a customer accept FULL
    responsibility if continued use of or purchase of products without complete
    or extensive knowledge about product ingredients and/or functions. You have
    the right to ask prior to purchase via email or social media direct
    messaging.
  </p>
  <p
    class="text-gray-600 mb-2 px-20 leading-relaxed"
    style="
      text-align: justify;
      font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif !important;
    "
  >
    Ojasvi Dermacare is not liable for any individual reaction to any particular
    ingredient. Remember to read our labels and ingredient lists carefully and
    follow the appropriate directions for use. If you have a specific allergy or
    sensitivity, do not use ingredients that may trigger a reaction. An allergy
    patch test is highly recommended if there is any doubt or history of skin
    reactions.
  </p>
  <p
    class="text-red-600 mb-2 px-20 leading-relaxed text-center"
    style="
      font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif !important;
    "
  >
    Discontinue use if a reaction occurs.
  </p>
  <p
    class="text-gray-600 mb-2 px-20 leading-relaxed"
    style="
      text-align: justify;
      font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif !important;
    "
  >
    If the product contains an allergen please alert the owner directly of all
    allergies to better accommodate. If this is not done prior to purchase, then
    you relinquish all liability from Ojasvi Dermacare. All of the above and
    standard body care disclaimers will be assumed to be to your knowledge with
    continued use of Ojasvi Dermacares' site and products.
  </p>
  <p
    class="text-red-600 mb-2 px-20 leading-relaxed text-center"
    style="
      margin-bottom: 0px !important;
      font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif !important;
    "
  >
    PLEASE AVOID CONTACT WITH EYES. DO NOT EAT.
  </p>
</Section>

<!-- Newsletter Section -->
<!-- <section
  style="
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif !important;
  "
  class="newsletter-section py-14 text-white"
>
  <div class="container mx-auto px-4">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-bold mb-2">Subscribe to Our Newsletter</h2>
      <p class="text-white/90 mb-6">
        Stay updated with our latest products, offers, and Ayurvedic wellness
        tips.
      </p>
      <div class="flex flex-col sm:flex-row gap-4 max-w-lg mx-auto">
        <input
          type="text"
          [(ngModel)]="emailaddress"
          maxlength="40"
          name="emailad"
          placeholder="Enter your email address"
          class="flex-1 px-4 py-3 rounded-button border-none focus:outline-none focus:ring-2 focus:ring-white/50 text-gray-800"
        />
        <button
          *ngIf="!loadingRecords"
          (click)="SubsribeToNewsLetter()"
          class="text-white px-6 py-3 rounded-button font-medium hover:bg-secondary/90 transition-colors !rounded-button whitespace-nowrap"
          style="background-color: rgb(233 180 76)"
        >
          Subscribe
        </button>
        <button
          *ngIf="loadingRecords"
          class="text-white px-6 py-3 rounded-button font-medium hover:bg-secondary/90 transition-colors !rounded-button whitespace-nowrap"
          style="background-color: rgb(233 180 76)"
        >
          Subscribe &nbsp;
          <div
            class="spinner-border text-warning"
            role="status"
            style="
              font-size: 10px !important;
              height: 15px;
              width: 15px;
              color: white !important;
            "
          >
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</section> -->

<script id="form-handler">
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("contactForm");
    const inputs = form.querySelectorAll("input, textarea");
    inputs.forEach((input) => {
      input.addEventListener("focus", function () {
        this.parentElement.classList.add("focused");
      });
      input.addEventListener("blur", function () {
        if (!this.value) {
          this.parentElement.classList.remove("focused");
        }
      });
    });
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      const formData = new FormData(form);
      const data = Object.fromEntries(formData);
      const button = form.querySelector('button[type="submit"]');
      const originalText = button.textContent;
      button.textContent = "Sending...";
      button.disabled = true;
      setTimeout(() => {
        alert("Thank you for your message! We will get back to you soon.");
        form.reset();
        button.textContent = originalText;
        button.disabled = false;
      }, 1000);
    });
  });
</script>
<script id="mobile-menu">
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.querySelector(".md\\:hidden button");
    const nav = document.querySelector("nav");
    if (menuButton && nav) {
      menuButton.addEventListener("click", function () {
        nav.classList.toggle("hidden");
      });
    }
  });
</script>
