<!-- <div class="container mx-auto p-4"> -->
<!-- <p class="text-center text-lg text-gray-700 mb-6">
    This is your main page content. The address drawer will open over this.
  </p> -->

<!-- <div class="text-center">
    <button
      class="bg-[#5a8f69] text-white px-6 py-3 text-base rounded hover:bg-[#5a8f69]/90 transition"
      (click)="openAddressDrawer()"
    >
      Add new address
    </button>
  </div> -->

<!-- <div
  *ngIf="addressDrawerOpen"
  class="fixed inset-0 flex justify-end bg-black/50 z-50 transition-opacity duration-300"
  [class.opacity-100]="addressDrawerOpen"
  [class.opacity-0]="!addressDrawerOpen"
  (click)="closeAddressDrawer()"
>
  <div
    class="bg-white h-full w-full max-w-lg p-4 text-left shadow-xl text-sm transform transition-transform duration-300 ease-out flex flex-col"
    [class.translate-x-0]="addressDrawerOpen"
    [class.translate-x-full]="!addressDrawerOpen"
    (click)="$event.stopPropagation()"
  >
    <div
      class="flex justify-between items-center pb-4 mb-4 border-b border-gray-200"
    >
      <h2 class="text-xl font-semibold text-gray-800">Address Management</h2>
      <button
        (click)="closeAddressDrawer()"
        class="text-gray-500 hover:text-gray-700"
      >
        <i class="ri-close-line text-2xl"></i>
      </button>
    </div>
 
    <div *ngIf="!showAddressForm" class="flex-grow overflow-y-auto">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold text-gray-800 flex items-center">
          <i class="ri-map-pin-line text-[#5a8f69] text-xl mr-2"></i>
          Your Saved Addresses
        </h3>
        <button
          class="bg-[#5a8f69] text-white px-4 py-2 text-sm rounded hover:bg-[#5a8f69]/90 transition"
          (click)="openAddressForm(null)"
        >
          + Add New Address
        </button>
      </div>
 
      <div *ngIf="savedAddresses.length > 0" class="grid grid-cols-1 gap-6">
        <div
          *ngFor="let address of savedAddresses"
          class="border border-gray-200 rounded-lg p-4 bg-white relative hover:shadow-md transition-shadow duration-200"
        >
          <div class="flex justify-between items-start">
            <div>
              <p class="font-semibold text-gray-800">{{ address.NAME }}</p>
              <p class="text-sm text-gray-600 mt-1">
                {{ address.ADDRESS }}<br />
                {{ address.CITY }}, {{ address.PINCODE }}
              </p>
              <p class="text-sm text-gray-600 mt-1">
                {{
                  commonFunction.decryptdata(encryptedmobno) ||
                    "Phone not provided"
                }}
              </p>
              <span
                *ngIf="address.IS_DEFAULT"
                class="inline-block text-xs bg-green-100 text-green-700 px-2 py-0.5 rounded mt-2"
                >Default</span
              >
              <span
                *ngIf="address.ADDRESS_TYPE"
                class="inline-block text-xs bg-blue-100 text-blue-700 px-2 py-0.5 rounded mt-2 ml-1"
                >{{ address.ADDRESS_TYPE }}</span
              >
            </div>
            <div class="space-x-2">
              <button
                class="text-gray-500 hover:text-[#5a8f69] transition"
                title="Edit"
                (click)="openAddressForm(address.ID)"
              >
                <i class="ri-edit-2-line"></i>
              </button>
            </div>
          </div>
          <button
            (click)="selectAddressForDelivery(address); closeAddressDrawer()"
            class="mt-4 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-[#5a8f69] hover:bg-[#4a7a58] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#5a8f69]"
          >
            Deliver Here
          </button>
        </div>
      </div>
 
     
    </div>
 
    <div *ngIf="showAddressForm" class="flex-grow overflow-y-auto">
      <h3 class="text-lg font-semibold mb-4">
        {{ isEditingAddress ? "Edit Address" : "Add New Address" }}
      </h3>
      <form (ngSubmit)="saveAddress()">
        <div class="mb-2">
          <label class="block mb-1 font-medium">* Full Name</label>
          <input
            type="text"
            [(ngModel)]="addressForm.NAME"
            name="customerName"
            class="w-full border rounded px-2 py-1 text-sm"
            placeholder="Enter Full Name"
            required
          />
        </div>
        <div class="mb-2">
          <label class="block mb-1 font-medium">* Mobile Number</label>
          <input
            type="tel"
            [(ngModel)]="addressForm.MOBILE_NO"
            name="mobileNumber"
            class="w-full border rounded px-2 py-1 text-sm"
            placeholder="Enter Mobile Number"
            required
          />
        </div>
        <div class="mb-2">
          <label class="block mb-1 font-medium">* Street Address</label>
          <textarea
            [(ngModel)]="addressForm.ADDRESS"
            name="streetAddress"
            class="w-full border rounded px-2 py-1 text-sm"
            placeholder="House No., Building, Street, Area"
            required
          ></textarea>
        </div>
        <div class="flex gap-2 mb-2">
          <div class="flex-1">
            <label class="block mb-1 font-medium">* Country</label>
            <select
              [(ngModel)]="addressForm.COUNTRY_ID"
              name="country"
              class="w-full border rounded px-2 py-1 text-sm"
              (change)="onCountryChange(addressForm.COUNTRY_ID!)"
              required
            >
              <option value="">Select Country</option>
              <option *ngFor="let c of countryList" [value]="c.ID">
                {{ c.NAME }}
              </option>
            </select>
          </div>
          <div class="flex-1">
            <label class="block mb-1 font-medium">* State</label>
            <select
              [(ngModel)]="addressForm.STATE_ID"
              name="state"
              class="w-full border rounded px-2 py-1 text-sm"
              required
            >
              <option value="">Select State</option>
              <option *ngFor="let s of stateList" [value]="s.ID">
                {{ s.NAME }}
              </option>
            </select>
          </div>
        </div>
        <div class="flex gap-2 mb-2">
          <div class="flex-1">
            <label class="block mb-1 font-medium">* City</label>
            <input
              [(ngModel)]="addressForm.CITY"
              name="city"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="Enter City"
              required
            />
          </div>
          <div class="flex-1">
            <label class="block mb-1 font-medium">* Zipcode</label>
            <input
              [(ngModel)]="addressForm.PINCODE"
              name="pincode"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="Enter Zipcode"
              required
            />
          </div>
        </div>
        <div class="flex gap-2 mb-2">
          <div class="flex-1">
            <label class="block mb-1 font-medium">Landmark</label>
            <input
              [(ngModel)]="addressForm.LANDMARK"
              name="landmark"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="E.g., Near Apollo Hospital"
            />
          </div>
          <div class="flex-1">
            <label class="block mb-1 font-medium">Area</label>
            <input
              [(ngModel)]="addressForm.LOCALITY"
              name="area"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="E.g., Bandra West"
            />
          </div>
        </div>
        <div class="flex gap-2 mb-2 items-center">
          <div class="flex-1">
            <label class="block mb-1 font-medium">* Address Type</label>
            <label class="mr-2">
              <input
                type="radio"
                [(ngModel)]="addressForm.ADDRESS_TYPE"
                name="addressType"
                value="R"
                required
              />
              Residential
            </label>
            <label>
              <input
                type="radio"
                [(ngModel)]="addressForm.ADDRESS_TYPE"
                name="addressType"
                value="O"
                required
              />
              Office
            </label>
          </div>
          <div class="flex-1 flex items-center">
            <label class="block mb-1 font-medium mr-2"
              >Mark Default Address</label
            >
            <input
              type="checkbox"
              [(ngModel)]="addressForm.IS_DEFAULT"
              name="isDefault"
            />
          </div>
        </div>
        <div class="flex justify-end gap-2 mt-3">
          <button
            type="button"
            (click)="goBackToAddressList()"
            class="bg-gray-200 px-3 py-1.5 rounded text-xs font-medium hover:bg-gray-300 transition"
          >
            Back to List
          </button>
          <button
            type="submit"
            class="bg-[#5a8f69] text-white px-3 py-1.5 rounded text-xs font-medium hover:bg-opacity-90 transition"
          >
            {{ isEditingAddress ? "Update" : "Add" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<!-- </div> -->
<div
  *ngIf="addressDrawerOpen"
  class="fixed inset-0 flex justify-end bg-black/50 z-50 transition-opacity duration-300"
  [class.opacity-100]="addressDrawerOpen"
  [class.opacity-0]="!addressDrawerOpen"
  (click)="closeAddressDrawer()"
>
  <div
    class="bg-white h-full w-full max-w-lg p-4 text-left shadow-xl text-sm transform transition-transform duration-300 ease-out flex flex-col"
    [class.translate-x-0]="addressDrawerOpen"
    [class.translate-x-full]="!addressDrawerOpen"
    (click)="$event.stopPropagation()"
  >
    <div class="flex justify-between items-center mb-4">
      <button
        (click)="goBackToCart()"
        class="text-sm text-[#5a8f69] hover:underline"
      >
        ← Back to Cart
      </button>
    </div>
    <div
      class="flex justify-between items-center pb-4 mb-4 border-b border-gray-200"
    >
      <h2 class="text-xl font-semibold text-gray-800">Address Management</h2>
      <button
        (click)="closeAddressDrawer()"
        class="text-gray-500 hover:text-gray-700"
      >
        <i class="ri-close-line text-2xl"></i>
      </button>
    </div>

    <!-- Address List Section -->
    <div *ngIf="!showAddressForm" class="flex-grow overflow-y-auto">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold text-gray-800 flex items-center">
          <i class="ri-map-pin-line text-[#5a8f69] text-xl mr-2"></i>
          Your Saved Addresses
        </h3>

        <button
          class="bg-[#5a8f69] text-white px-4 py-2 text-sm rounded hover:bg-[#5a8f69]/90 transition"
          (click)="openAddressForm(null)"
        >
          + Add New Address
        </button>
      </div>

      <div *ngIf="savedAddresses.length > 0" class="grid grid-cols-1 gap-6">
        <div
          *ngFor="let address of savedAddresses"
          class="border border-gray-200 rounded-lg p-4 bg-white relative hover:shadow-md transition-shadow duration-200 cursor-pointer"
          [class.ring-2]="selectedAddress?.ID === address.ID"
          [class.ring-[#5a8f69]]="selectedAddress?.ID === address.ID"
          (click)="onSelectAddress(address)"
        >
          <div class="flex justify-between items-start">
            <div>
              <p class="font-semibold text-gray-800">{{ address.NAME }}</p>
              <p class="text-sm text-gray-600 mt-1">
                {{ address.ADDRESS }}<br />
                {{ address.CITY }}, {{ address.PINCODE }}
              </p>
              <p class="text-sm text-gray-600 mt-1">
                {{ address.MOBILE_NO }}
              </p>

              <span
                *ngIf="address.ADDRESS_TYPE"
                class="inline-block text-xs bg-blue-100 text-blue-700 px-2 py-0.5 rounded mt-2 ml-1"
                >{{ address.ADDRESS_TYPE }}</span
              >
              <span
                *ngIf="address.IS_DEFAULT"
                class="inline-block text-xs bg-green-100 text-green-700 px-2 py-0.5 rounded mt-2"
                >Default
              </span>
            </div>
            <div class="space-x-2 flex items-start">
              <button
                class="text-gray-500 hover:text-[#5a8f69] transition"
                title="Edit"
                (click)="openAddressForm(address.ID); $event.stopPropagation()"
              >
                <i class="ri-edit-2-line"></i>
              </button>
              <input
                type="radio"
                name="selectedAddress"
                [value]="address"
                [(ngModel)]="selectedAddress"
                (click)="$event.stopPropagation()"
                (ngModelChange)="onSelectAddress($event)"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Final Deliver Button -->
      <div *ngIf="selectedAddress" class="mt-6 text-right">
        <button
          (click)="showOrderSummaryModal = true"
          class="bg-[#5a8f69] text-white px-6 py-2 rounded-md text-sm hover:bg-[#4a7a58] transition"
        >
          Pay and Order
        </button>
      </div>
    </div>

    <!-- Address Form Section -->
    <div *ngIf="showAddressForm" class="flex-grow overflow-y-auto">
      <h3 class="text-lg font-semibold mb-4">
        {{ isEditingAddress ? "Edit Address" : "Add New Address" }}
      </h3>
      <form #form="ngForm" (ngSubmit)="saveAddress(form)">
        <div class="mb-2">
          <label class="block mb-1 font-medium">* Full Name</label>
          <input
            type="text"
            [(ngModel)]="addressForm.NAME"
            name="NAME"
            #NAME="ngModel"
            class="w-full border rounded px-2 py-1 text-sm"
            placeholder="Enter Full Name"
            required
          />
          <p
            *ngIf="NAME.invalid && (NAME.touched || form.submitted)"
            class="text-red-500 text-xs mt-1"
          >
            Full Name is required.
          </p>
        </div>

        <div class="mb-2">
          <label class="block mb-1 font-medium">* Mobile Number</label>
          <input
            type="tel"
            [(ngModel)]="addressForm.MOBILE_NO"
            name="MOBILE_NO"
            #MOBILE_NO="ngModel"
            maxlength="10"
            class="w-full border rounded px-2 py-1 text-sm"
            placeholder="Enter Mobile Number"
            required
            (keypress)="commonFunction.omit($event)"
          />
          <p
            *ngIf="MOBILE_NO.invalid && (MOBILE_NO.touched || form.submitted)"
            class="text-red-500 text-xs mt-1"
          >
            Mobile Number is required.
          </p>
        </div>

        <div class="mb-2">
          <label class="block mb-1 font-medium">* Street Address</label>
          <textarea
            [(ngModel)]="addressForm.ADDRESS"
            name="ADDRESS"
            #ADDRESS="ngModel"
            class="w-full border rounded px-2 py-1 text-sm"
            placeholder="House No., Building, Street, Area"
            required
          ></textarea>
          <p
            *ngIf="ADDRESS.invalid && (ADDRESS.touched || form.submitted)"
            class="text-red-500 text-xs mt-1"
          >
            Address is required.
          </p>
        </div>

        <div class="flex gap-2 mb-2">
          <div class="flex-1">
            <label class="block mb-1 font-medium">* Country</label>
            <select
              [(ngModel)]="addressForm.COUNTRY_ID"
              name="COUNTRY_ID"
              #COUNTRY_ID="ngModel"
              (ngModelChange)="onCountryChange($event)"
              class="w-full border rounded px-2 py-1 text-sm"
              [ngClass]="
                addressForm.COUNTRY_ID ? 'text-black' : 'text-gray-400'
              "
              required
            >
              <option value="">Select Country</option>
              <option
                *ngFor="let c of countryList"
                [value]="c.ID"
                style="color: black"
              >
                {{ c.NAME }}
              </option>
            </select>
            <p
              *ngIf="
                COUNTRY_ID.invalid && (COUNTRY_ID.touched || form.submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Country is required.
            </p>
          </div>

          <div class="flex-1">
            <label class="block mb-1 font-medium">* State</label>
            <select
              [(ngModel)]="addressForm.STATE_ID"
              name="STATE_ID"
              #STATE_ID="ngModel"
              class="w-full border rounded px-2 py-1 text-sm"
              [ngClass]="addressForm.STATE_ID ? 'text-black' : 'text-gray-400'"
              required
            >
              <option value="">Select State</option>
              <option
                *ngFor="let s of stateList"
                [value]="s.ID"
                style="color: black"
              >
                {{ s.NAME }}
              </option>
            </select>
            <p
              *ngIf="STATE_ID.invalid && (STATE_ID.touched || form.submitted)"
              class="text-red-500 text-xs mt-1"
            >
              State is required.
            </p>
          </div>
        </div>

        <div class="flex gap-2 mb-2">
          <div class="flex-1">
            <label class="block mb-1 font-medium">* City</label>
            <input
              [(ngModel)]="addressForm.CITY"
              name="CITY"
              #CITY="ngModel"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="Enter City"
              required
            />
            <p
              *ngIf="CITY.invalid && (CITY.touched || form.submitted)"
              class="text-red-500 text-xs mt-1"
            >
              City is required.
            </p>
          </div>

          <div class="flex-1">
            <label class="block mb-1 font-medium">* Zipcode</label>
            <!-- <input
              [(ngModel)]="addressForm.PINCODE"
              name="PINCODE"
              #PINCODE="ngModel"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="Enter Zipcode"
              required
            /> -->
            <select
              [(ngModel)]="addressForm.PINCODE"
              name="PINCODE"
              #PINCODE="ngModel"
              class="w-full border rounded px-2 py-1 text-sm"
              required
            >
              <option value="">Select Pincode</option>
              <option
                *ngFor="let p of pincodeList"
                [value]="p.PINCODE"
                style="color: black"
              >
                {{ p.PINCODE }}
              </option>
            </select>
            <p
              *ngIf="PINCODE.invalid && (PINCODE.touched || form.submitted)"
              class="text-red-500 text-xs mt-1"
            >
              Zipcode is required.
            </p>
          </div>
        </div>
        <div class="flex gap-2 mb-2">
          <div class="flex-1">
            <label class="block mb-1 font-medium">Landmark</label>
            <input
              [(ngModel)]="addressForm.LANDMARK"
              name="landmark"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="E.g., Near Apollo Hospital"
            />
          </div>
          <div class="flex-1">
            <label class="block mb-1 font-medium">Area</label>
            <input
              [(ngModel)]="addressForm.LOCALITY"
              name="area"
              class="w-full border rounded px-2 py-1 text-sm"
              placeholder="E.g., Bandra West"
            />
          </div>
        </div>

        <div class="flex gap-2 mb-2 items-center">
          <div class="flex-1">
            <label class="block mb-1 font-medium">* Address Type</label>
            <div>
              <label class="mr-2">
                <input
                  type="radio"
                  [(ngModel)]="addressForm.ADDRESS_TYPE"
                  name="ADDRESS_TYPE"
                  value="R"
                  #ADDRESS_TYPE="ngModel"
                  required
                />
                Residential
              </label>
              <label>
                <input
                  type="radio"
                  [(ngModel)]="addressForm.ADDRESS_TYPE"
                  name="ADDRESS_TYPE"
                  value="O"
                  required
                />
                Office
              </label>
            </div>

            <p
              *ngIf="
                ADDRESS_TYPE.invalid && (ADDRESS_TYPE.touched || form.submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Address Type is required.
            </p>
          </div>

          <div class="flex-1 flex items-center">
            <label class="block mb-1 font-medium mr-2"
              >Mark Default Address</label
            >
            <input
              type="checkbox"
              [(ngModel)]="addressForm.IS_DEFAULT"
              name="isDefault"
              (change)="onDefaultAddressChange($event)"
              [checked]="addressForm.IS_DEFAULT"
            />
          </div>
        </div>

        <div class="flex justify-end gap-2 mt-3">
          <button
            type="button"
            (click)="goBackToAddressList()"
            class="bg-gray-200 px-3 py-1.5 rounded text-xs font-medium hover:bg-gray-300 transition"
          >
            Back to List
          </button>
          <button
            type="submit"
            class="bg-[#5a8f69] text-white px-3 py-1.5 rounded text-xs font-medium hover:bg-opacity-90 transition"
          >
            {{ isEditingAddress ? "Update" : "Add" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  *ngIf="showPaymentModal"
  class="fixed inset-0 flex items-center justify-center bg-black/50 z-50"
>
  <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-sm relative">
    <button
      (click)="closePaymentModal()"
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
    >
      <i class="ri-close-line text-xl"></i>
    </button>
    <h3 class="text-lg font-semibold mb-4 text-gray-800">
      Complete Your Payment
    </h3>

    <div id="card-container" class="my-4 border rounded p-2">
      <app-common-loader
        *ngIf="isLoadingCard"
        class="overlay-loader"
      ></app-common-loader>
    </div>

    <button
      [disabled]="isProcessingPayment"
      (click)="processPaymentWithToken()"
      class="mt-4 w-full bg-[#5a8f69] text-white py-2 rounded-md hover:bg-[#4a7a58] transition flex items-center justify-center"
    >
      <ng-container *ngIf="isProcessingPayment; else payText">
        <svg
          class="animate-spin h-5 w-5 mr-2 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
          ></path>
        </svg>
        Processing...
      </ng-container>
      <ng-template #payText>
        Pay
        {{
          cartDetails.cartDetails[0].NET_AMOUNT
            | currency : "USD" : "symbol" : "1.2-2"
        }}
      </ng-template>
    </button>
  </div>
</div>
<!-- <div id="card-container" class="my-4"></div> -->

<div
  *ngIf="showOrderSummaryModal"
  class="fixed inset-0 flex items-center justify-center bg-black/50 z-50"
>
  <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-lg relative">
    <button
      (click)="showOrderSummaryModal = false"
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
    >
      <i class="ri-close-line text-xl"></i>
    </button>
    <h3 class="text-lg font-semibold mb-4 text-gray-800">Order Summary</h3>

    <div class="text-sm text-gray-700 mb-4">
      <p><strong>Shipping to:</strong> {{ selectedAddress?.NAME }}</p>
      <p class="mt-1">
        {{ selectedAddress?.ADDRESS }}, {{ selectedAddress?.CITY }} -
        {{ selectedAddress?.PINCODE }}
      </p>
    </div>

    <div class="border-t border-gray-200 pt-2 mt-2">
      <h4 class="font-medium mb-2">Items:</h4>
      <ul class="max-h-48 overflow-y-auto text-sm">
        <li *ngFor="let item of cartDetails.cartDetails" class="mb-1">
          {{ item.PRODUCT_NAME }} x {{ item.QUANTITY }} -
          {{ item.PRICE * item.QUANTITY | currency : "USD" }}
        </li>
      </ul>
    </div>

    <!-- <div
      class="border-t border-gray-200 pt-2 mt-4 flex justify-between text-base"
    >
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-gray-700">Price :</span>
        <span class="text-gray-900">{{
          (cartDetails.cartDetails.Price ? cartDetails.cartDetails.Price : 0)
            | currency : "USD" : "symbol" : "1.2-2"
        }}</span>
      </div>
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-gray-700">Delivery Charges :</span>
        <span class="text-gray-900">{{
          (cartDetails.cartDetails.DELIVERY_CHARGES
            ? cartDetails.cartDetails.DELIVERY_CHARGES
            : 0
          ) | currency : "USD" : "symbol" : "1.2-2"
        }}</span>
      </div>
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-gray-700">Packing Charges :</span>
        <span class="text-gray-900">{{
          (cartDetails.cartDetails.PACKAGING_CHARGES
            ? cartDetails.cartDetails.PACKAGING_CHARGES
            : 0
          ) | currency : "USD" : "symbol" : "1.2-2"
        }}</span>
      </div>
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-green-600">Total Amount :</span>
        <span class="text-green-600 font-semibold">{{
          (subtotal ? subtotal : 0) | currency : "USD" : "symbol" : "1.2-2"
        }}</span>
      </div>
    </div> -->

    <div class="border-t border-gray-200 text-sm space-y-2 text-right">
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-gray-700">Price :</span>
        <span class="text-gray-900">{{
          (cartDetails.cartDetails[0].TOTAL_PRICE
            ? cartDetails.cartDetails[0].TOTAL_PRICE
            : 0
          ) | currency : "USD" : "symbol" : "1.2-2"
        }}</span>
      </div>
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-gray-700">Delivery Charges :</span>
        <!-- <span class="text-gray-900">
          {{ selectedShippingCharge }}
          {{ selectedShippingCharge | currency : "USD" : "symbol" : "1.2-2" }}
        </span> -->
        <span class="text-gray-900">
          {{ selectedShippingCharge | currency : "USD" : "symbol" : "1.2-2" }}
        </span>
      </div>
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-gray-700">Packing Charges :</span>
        <span class="text-gray-900">{{
          (cartDetails.cartDetails[0].PACKAGING_CHARGES
            ? cartDetails.cartDetails[0].PACKAGING_CHARGES
            : 0
          ) | currency : "USD" : "symbol" : "1.2-2"
        }}</span>
      </div>
      <div class="flex justify-between gap-4">
        <span class="font-semibold text-green-600">Total Amount :</span>
        <span class="text-green-600 font-semibold">{{
          (cartDetails.cartDetails[0].NET_AMOUNT
            ? cartDetails.cartDetails[0].NET_AMOUNT
            : 0
          ) | currency : "USD" : "symbol" : "1.2-2"
        }}</span>
      </div>
    </div>
    <div class="mt-4 text-right">
      <button
        (click)="proceedToPayment()"
        class="bg-[#5a8f69] text-white px-6 py-2 rounded-md text-sm hover:bg-[#4a7a58] transition"
      >
        Proceed to Pay
      </button>
    </div>
  </div>
</div>
<div
  *ngIf="paymentSuccessModalVisible"
  class="fixed inset-0 flex items-center justify-center bg-black/50 z-50"
>
  <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-sm relative">
    <button
      (click)="paymentSuccessModalVisible = false"
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
    >
      <i class="ri-close-line text-xl"></i>
    </button>
    <h3 class="text-lg font-semibold mb-4 text-green-700 flex items-center">
      <i class="ri-check-line text-2xl mr-2"></i>
      Payment Successful!
    </h3>
    <p class="text-sm text-gray-600 mb-4">
      Your order has been placed successfully.
    </p>
    <div class="flex justify-between">
      <button
        *ngIf="userId"
        (click)="goToProfileSection('orders-section'); $event.preventDefault()"
        class="bg-emerald-600 text-white px-4 py-2 rounded-md text-sm"
      >
        View Order Details
      </button>
      <button
        (click)="goToProductListing()"
        class="bg-gray-200 px-4 py-2 rounded-md text-sm hover:bg-gray-300 transition"
      >
        Back to Shop
      </button>
    </div>
  </div>
</div>
